<div class="flexed-item flex--align-self-center">
  <div class="flex-set flex--content-center flex--row">
    <img src="{{ pokemon.sprites.front_default }}" />
    <img src="{{ pokemon.sprites.back_default }}" />
  </div>
</div>
<div class="flexed-item">
  <div class="flex-set flex--content-center flex--column h100">
    <ul>
      <!-- podemos convertir estos campos que se repiten a un componente y utilizarlo con opciones en
      card simple y en el extended -->
      <li class="col-12">#{{ pokemon.id }}</li>
      <li class="col-12">{{ pokemon.name }}</li>
      <li class="col-12">
        <button
          class="background-color-{{
            pokemon.types[0].type.name
          }} btn--shadow m1"
        >
          {{ pokemon.types[0].type.name }}
        </button>
        <button
          *ngIf="pokemon.types[1]"
          class="background-color-{{
            pokemon.types[1].type.name
          }} btn--shadow m1"
        >
          {{ pokemon.types[1].type.name }}
        </button>
      </li>
      <li class="col-12">{{ pokemonDescription }}</li>
      <li class="col-12">
        <h5>Abilities</h5>
        <ul>
          <li *ngFor="let ability of pokemon.abilities">
            {{ ability.ability.name }}
          </li>
        </ul>
      </li>
      <li class="col-12">
        <h5>Stats</h5>
        <ul>
          <li>HP: {{ pokemon.stats_fix?.hp }}</li>
          <li>Attack: {{ pokemon.stats_fix?.attack }}</li>
          <li>Defense: {{ pokemon.stats_fix?.defense }}</li>
          <li>Sp. Attack: {{ pokemon.stats_fix?.special_attack }}</li>
          <li>Sp. defense: {{ pokemon.stats_fix?.special_defense }}</li>
          <li>Speed: {{ pokemon.stats_fix?.speed }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
