$normal: #9f9f9f;
$fighting: #c82525;
$flying: #75dfdc;
$poison: #983dc6;
$ground: #8c6d1a;
$rock: #d9a92a;
$bug: #26ef0c;
$ghost: #740497;
$steel: #848284;
$fire: #d03535;
$water: #3881f1;
$grass: #38f14b;
$electric:#e1dd55;
$psychic: #e1559f;
$ice: #75e5cb;
$dragon: #75e5cb;
$dark: #050d32;
$fairy: #b109cc;

$types-array: (
  'normal': $normal,
  'fighting': $fighting,
  'flying': $flying,
  'poison': $poison,
  'ground': $ground,
  'rock': $rock,
  'bug': $bug,
  'ghost': $ghost,
  'steel': $steel,
  'fire': $fire,
  'water': $water,
  'grass': $grass,
  'electric': $electric,
  'psychic': $psychic,
  'ice': $ice,
  'dragon': $dragon,
  'dark': $dark,
  'fairy': $fairy,
);

@each $name, $property in $types-array{
  .background-color-#{$name}{
    background-color: $property  !important;
  }

}
