<section>
  <div *ngIf="pokemonDetailList" class="flexbox">
    <app-pokemon-card
      *ngFor="let pokemon of pokemonDetailList"
      [pokemon]="pokemon"
      [pokemonSelected]="pokemonSelected"
      class=" w100 m2-y pokemonCard"
      (click)="onClick(pokemon)"
    ></app-pokemon-card>
  </div>
</section>

<section class="flexbox">
  <button (click)="getPokemonList(20, nextoffSet, 0)">Cargar más</button>
</section>
