<div class="flexed-item flex--align-self-center">
  <div class="flex-set flex--content-center flex--row">
    <img src="{{ pokemon.sprites.front_default }}" />
  </div>
</div>
<div class="flexed-item">
  <div class="flex-set flex--content-center flex--column h100">
    <ul>
      <li class="col-12">#{{ pokemon.id }}</li>
      <li class="col-12">{{ pokemon.name }}</li>
      <li class="col-12">
        {{ pokemon.types[0].type.name }}
        {{ pokemon.types[1] ? '/ ' + pokemon.types[1].type.name : '' }}
      </li>
    </ul>
  </div>
</div>
